.brandbar {
    height:101px;
    width: 248px;
    float:left;
    background-color: #D9D9D9;
    position: relative;
}
.container {
    width: 100%;
}

.brandname {
    color: #A9D1BF;
    position: absolute; 
    left: 90px;
    top: 28px;
    -webkit-text-stroke-color: #20583E;
    -webkit-text-stroke-width: 1.5px;
    font-size: 33px;
    line-height: 10px;
    text-align: left;
    font-family: 'Didot';

}
.navbar-nav {
   top: 30px;
   background-color: #A9D1BF; 
   height: 101px;
   width: 1380px;
}

.Non-Profit {
    font-style: italic; 
    color: #ffffff;
    font-size: 25px;
    text-align: left;
    line-height: 4em;
}

.Women {
    font-style: italic; 
    color: #FFFFFF;
    font-size: 25px;
    text-align: left;
    line-height: 4em;
}

.Men {
    font-style: italic; 
    color: #FFFFFF;
    font-size: 25px;
    text-align: left;
    line-height: 4em;
}

.Children {
    font-style: italic; 
    color: #FFFFFF;
    font-size: 25px;
    text-align: left;
    line-height: 4em;
}

.LifeStyle {
    font-style: italic; 
    color: #FFFFFF;
    font-size: 25px;
    text-align: left;
    line-height: 4em;
}

.Account {
    font-style: italic; 
    color: #20583E;
    font-size: 25px;
    text-align: left;
    line-height: 4em;
}

.Checkout {
    font-style: italic; 
    color: #20583E;
    font-size: 25px;
    text-align: left;
    line-height: 4em;
}

.organizations {
    position: relative;
    float: left;
}

.organization-name{
    margin: 10px 0 0;
    font-size: 20px;
    font-family: 'Alegreya';
    color: #EFA2A2;
    white-space: nowrap;
    overflow: hidden;
}