.brandbar {
    height:101px;
    width: 248px;
    float:left;
    background-color: #D9D9D9;
    position: relative;
}
.container {
    width: 100%;
    overflow: auto;
}

.brandname {
    color: #A9D1BF;
    position: absolute; 
    left: 90px;
    top: 28px;
    -webkit-text-stroke-color: #20583E;
    -webkit-text-stroke-width: 1.5px;
    font-size: 33px;
    line-height: 10px;
    text-align: left;
    font-family: 'Didot';

}
.navbar-nav {
   top: 30px;
   background-color: #A9D1BF; 
   height: 101px;
   width: 1380px;
}

.nav-topics {
    font-family: 'Myanmar MN';
    font-style: 'bold';
}

.Non-Profit {  
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    line-height: 4em;
}

.Women {
    color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    line-height: 4em;
}

.Men {
    color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    line-height: 4em;
}

.Children {
    color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    line-height: 4em;
}

.LifeStyle {
    color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    line-height: 4em;
}

.Account {
    color: #20583E;
    font-size: 20px;
    text-align: left;
    line-height: 4em;
}

.Checkout {
    color: #20583E;
    font-size: 20px;
    text-align: left;
    line-height: 4em;
}

.page-title {
    font-family: 'Myanmar MN';
    color: #20583E;
    font-size:  48px;
}

.grid-container {
    position: relative;
    float: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    padding: 40px;
    align-content: center;
  }
  
  .grid-container > div {
    background-color: #ffffff;
    border: 3px solid #209B7F;
    text-align: center;
    font-family: 'Alegreya';
    font-size: 23px;
    color: #707070;
  }